gitignore
# Arquivos gerados pelo sistema de build
# =======================================
/build/
/.idea/
.gradle/
*.iml
local.properties

# Arquivos de configurações do IDE
# =================================
.idea/workspace.xml
.idea/libraries/
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store

# Arquivos de log e cache
# ========================
*.log
/captures/

# Arquivos gerados pela compilação (APKs, bundles)
# =================================================
*.apk
*.aab
*.ap_
*.json
*.flat

# Arquivos do Google Services
# ============================
# (Descomente se você não quiser versionar seu google-services.json)
# google-services.json

# Arquivos de configuração de execução do Android Studio
# ====================================================
.idea/runConfigurations/

# Arquivos do Kover (ferramenta de cobertura de código)
# ===================================================
*.kover
